<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-navbar-fixed-top">
<head th:replace="plantilla :: header(~{::title}, ~{::link})">
    <title>Ingredientes - PasteleríaCacu.cl</title>
    <link rel="stylesheet" href="">
</head>
<body>
<nav th:replace="plantilla :: navbar"></nav>
<section class="section">
    <div class="container content">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title">Ingredientes</h1>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a class="button is-success" th:href="@{/Ingrediente/Nuevo}" th:target="_self">
                        <span class="icon">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                    </a>
                </div>
            </div>
        </nav>
        <div class="table-container">
            <table class="table is-bordered is-fullwidth">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo Medición</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ingrediente : ${Ingredientes}">
                    <td th:text="${ingrediente.getNombre()}"></td>
                    <td th:text="${ingrediente.getTipo().getNombre()}"></td>
                    <td>
                        <form th:action="@{/Ingrediente/Eliminar}" method="post">
                            <a class="button is-warning is-light" th:href="@{/Ingrediente/{id}/(id=${ingrediente.getId()})}">
                                <span class="icon">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </span>
                            </a>
                            <input type="hidden" name="id" th:value="${ingrediente.getId()}"/>
                            <button type="submit" class="button is-danger is-light">
                                <span class="icon">
                                    <i class="fa-solid fa-trash-can"></i>
                                </span>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div th:replace="plantilla :: footer(~{::script})">
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</div>
</body>
</html>