<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" class="has-navbar-fixed-top">
<head th:replace="plantilla :: header(~{::title}, ~{::link})">
    <title>Ingredientes -> Tipo - PasteleríaCacu.cl</title>
    <link rel="stylesheet" href="">
</head>
<body>
<nav th:replace="plantilla :: navbar"></nav>
<section class="section">
    <div class="container content">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title">Tipos de Ingredientes</h1>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a class="button is-success" th:href="@{/Ingrediente/Tipo/Nuevo}" th:target="_self">
                        <span class="icon">
                            <i class="fa-solid fa-plus"></i>
                        </span>
                    </a>
                </div>
            </div>
        </nav>
    </div>

</section>
<div th:replace="plantilla :: footer(~{::script})">
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
</div>
</body>
</html>